html{
    scroll-behavior: smooth;
}
#intro {
    font-family: "monument_extendedregular";
    font-size: 100px;
}
header {
    background-color: azure;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-family: "monument_extendedregular";
}
section {
    height: 800px;
}


@media screen and (min-width: 1200px) {
    /* anything above 1200: large laptops, desktops */
}
@media screen and (min-width: 1200px) {
    /* anything above 1200 */
}
@media screen and (min-width: 1200px) {
    /* anything above 1200 */
}


